<template>
  <div>
    <v-img :src="getImage()"></v-img>
  </div>
</template>

<script>
export default {
  name: "Picture",
  props: {
    id: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data: () => ({}),
  mounted() {},
  methods: {
    getImage() {
      return `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${this.id}.png`;
    },
  },
};
</script>

<style lang="scss" scoped></style>
