<template>
  <div>
    <span class="type">Type: </span>
    <v-chip
      v-for="(type, i) in types"
      :key="i"
      class="ma-2 text-capitalize"
      color="primary"
      label
    >
      {{ type.type.name }}
    </v-chip>

    <ul>
      <li v-for="(stat, index) in stats" :key="index" class="text-center">
        <span class="text-capitalize">{{ stat.stat.name }}</span>
        <v-progress-linear
          :color="calColor(stat.base_stat)"
          v-model="stat.base_stat"
          height="25"
        >
          <strong>{{ Math.ceil(stat.base_stat) }}%</strong>
        </v-progress-linear>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Stats",
  props: {
    url: {
      type: String,
      required: true,
      default: "",
    },
  },
  data: () => ({
    types: [],
    stats: [],
  }),
  mounted() {
    this.getStats();
  },
  methods: {
    getStats() {
      this.axios
        .get(this.url)
        .then((response) => {
          this.types.push.apply(this.types, response.data.types);
          this.stats.push.apply(this.stats, response.data.stats);
        })
        .catch((error) => console.log(error));
    },
    calColor(val) {
      if (val < 31) {
        return "error";
      } else if (val > 30 && val < 71) {
        return "warning";
      } else {
        return "success";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.type {
  font-weight: 700;
  margin-left: 10px;
}

ul {
  padding-bottom: 10px;

  li {
    list-style-type: none;
    max-width: 92%;
    margin-bottom: 10px;

    span {
      font-size: 1.3em;
    }
  }
}
</style>
