<template>
  <div class="result">
    <div v-if="!error">
      <v-col v-if="show" cols="12" class="text-center">
        <v-card class="mx-auto my-12 poke-card" max-width="700">
          <v-img
            :src="pokemon[0].sprites.other['official-artwork'].front_default"
          ></v-img>

          <v-card-title class="text-capitalize">{{
            pokemon[0].name
          }}</v-card-title>

          <span class="type">Type: </span>
          <v-chip
            v-for="(type, i) in pokemon[0].types"
            :key="i"
            class="ma-2"
            color="primary"
            label
          >
            {{ type.type.name }}
          </v-chip>

          <ul>
            <li
              v-for="(stat, index) in pokemon[0].stats"
              :key="index"
              class="text-center"
            >
              <span>{{ stat.stat.name }}</span>
              <v-progress-linear
                :color="calColor(stat.base_stat)"
                v-model="stat.base_stat"
                height="25"
              >
                <strong>{{ Math.ceil(stat.base_stat) }}%</strong>
              </v-progress-linear>
            </li>
          </ul>
        </v-card>

        <router-link to="/">Back to Home</router-link>
      </v-col>
    </div>

    <div v-else>
      <v-col cols="12" class="text-center not-found-container">
        <v-img
          src="@/assets/psyduck.png"
          max-width="285"
          class="mx-auto"
        ></v-img>
        <div class="not-found">Pokemon not found</div>
        <router-link to="/">Back to Home</router-link>
      </v-col>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    pokemon: [],
    error: false,
    show: false,
  }),
  mounted() {
    this.searchPokemon();
  },
  methods: {
    searchPokemon() {
      let url = "https://pokeapi.co/api/v2/pokemon/";

      this.axios
        .get(`${url}${this.$route.params.id}`)
        .then((response) => {
          this.pokemon.push(response.data);
          this.show = true;
        })
        .catch((error) => {
          this.error = true;
          console.log(error);
        });
    },
    calColor(val) {
      if (val < 31) {
        return "error";
      } else if (val > 30 && val < 71) {
        return "warning";
      } else {
        return "success";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.result {
  margin-bottom: 200px;

  ul {
    padding-bottom: 10px;

    li {
      list-style-type: none;
      max-width: 92%;
      margin-bottom: 10px;

      span {
        font-size: 1.3em;
      }
    }
  }

  .not-found {
    font-size: 3em;

    @media (max-width: 960px) {
      font-size: 2em;
    }
  }
}
</style>
