<template>
  <div>
    <div class="shape">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div>

    <div class="footer">
      <v-container>
        <h3 class="hidden-sm-and-down">Challenge made by</h3>
        <a href="https://www.linkedin.com/in/quinterojuan/" target="_blank">
          Juan
        </a>
      </v-container>
    </div>

    <v-img src="@/assets/ash.png" alt="Ash" class="ash"></v-img>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.footer {
  background-color: #ef5350;
  height: 121px;
  text-align: center;

  h3,
  a {
    display: inline-block !important;
    font-size: 2em;

    @media (max-width: 960px) {
      font-size: 1em;
    }
  }

  h3 {
    color: #0b2828;
  }

  a {
    color: #ffffff;
    margin-left: 5px;

    &:hover {
      color: #217bc2;
    }
  }
}

.shape {
  position: absolute;
  bottom: 120px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.shape .shape-fill {
  fill: #ef5350;
}

.ash {
  position: absolute;
  bottom: 0;
  left: 0;

  @media (max-width: 1600px) {
    max-width: 400px;
  }

  @media (max-width: 1150px) {
    max-width: 300px;
  }

  @media (max-width: 800px) {
    display: none;
  }
}
</style>
