<template>
  <div>
    <div class="header">
      <v-container>
        <router-link to="/">
          <img src="@/assets/pokemon_logo.svg" alt="Logo Pokemon" />
        </router-link>
        <h1 class="hidden-sm-and-down">Challenge PokeApi</h1>
      </v-container>
    </div>

    <div class="shape">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.header {
  background-color: #ef5350;
  height: 121px;

  img,
  h1 {
    display: inline-block;
  }

  h1 {
    color: #ffffff;
    font-size: 3em;
    margin-left: 20px;
    vertical-align: bottom;
  }
}

.shape {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 164px;
  transform: rotateY(180deg);
}

.shape .shape-fill {
  fill: #ef5350;
}
</style>
